/bin/
/src/main/resources/images/icon.psd
.classpath
.project
.settings/
heatmap.png
*.board

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

images/*